@model IEnumerable<MusicStore.Models.Genre>
  <ul>
      @foreach (var genre in Model)
       {
           <li>
             @Html.ActionLink(genre.Name, "Browse", "Store", new { Genre = genre.Name },  new { @class = "list-group-item" })
           </li>
       }        
  </ul>       
        
        